.story {
  width: 75%;
  margin: 0 auto; //center
  box-shadow: 0 3rem 6rem rgba($color-black, .1);
  background-color: rgba($color-white, .6);
  padding: 6rem;
  padding-left: 9rem; //6+3
  font-size: $default-font-size;
  transform: skewX(-12deg);

  @include respond(tab-port) {
    width: 100%;
    padding: 4rem;
    padding-left: 7rem; //6+3
  }

  @include respond(phone) {
    transform: skewX(0);
  }

  /* doesn't work here -> have to be applied on each chlid (because there is only one transform prop)
  & > * {
    transform: skewX(12deg);
  }
  */

  &__shape {
    width: 15rem;
    height: 15rem;
    float: left; // so the rest floats around it
    position: relative;
    border-radius: 50%;

    @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
      clip-path: circle(50% at 50% 50%);
      -webkit-clip-path: circle(50% at 50% 50%);
      shape-outside: circle(50% at 50% 50%); //works only if floated and height and width are set
      -webkit-shape-outside: circle(50% at 50% 50%);
      border-radius: none;
    }

    transform: translateX(-3rem) skewX(12deg); //better way of doing margins with floated elements

    @supports () {
    circle(50% at 50% 50%v
    }

    @include respond(phone) {
      transform: translateX(-3rem) skewX(0);
    }
  }

  &__img {
    height: 100%;
    transform: translateX(-4rem) scale(1.4);
    backface-visibility: hidden;
    transition: all .5s;
  }

  &__text {
    transform: skewX(12deg);

    @include respond(phone) {
      transform: skewX(0);
    }
  }

  &__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%); //20% to have it down initially
    color: $color-white;
    text-transform: uppercase;
    font-size: 1.7rem;
    text-align: center;
    opacity: 0;
    transition: all .5s;
    backface-visibility: hidden;
  }

  &:hover &__caption {
    opacity: 1;
    transform: translate(-50%, -50%);
  }

  &:hover &__img {
    height: 120%;
    transform: translateX(-4rem) scale(1);
    filter: blur(3px) brightness(80%);
  }

}
